*{
    font-family:Lucida;
    margin: 0;
    border: 0;
    padding: 0
}
.bar{
    height: 2px;
    background-color:gray;
    margin-left: 8%;
    margin-right: 8%;
}
#context{
    display: table;
    text-align: center;

}
#top{
    background-color: black;
    color: white;
    text-align: center;
    font-family: arial;
    margin-top: 3%;
    position: absolute;
    left: 210;
    width: 270;
    height: 170
}
#location{
    font-size: 10;
    padding-top: 35;
    padding-bottom: 12;
    padding-left: 10%;
    padding-right: 10%;

}
#No-cont{
    margin: 0 auto;
    display: table;
    /*margin-left: 23%;
    margin-right: 23%;*/
}
#cont{
    /*margin: 0 auto;*/
    vertical-align: middle;
    padding-top: 0;
    margin-top:0;
    border-top: 0;
    height: 100;
    font-size: 80;
    position: relative;
    float: left;
}
#No{
    /*margin:0 auto;*/
    text-decoration: underline;
    padding-top: 10;
    height: 120;
    font-size: 40;
    position: relative;
    float: left;
}
#bottum{
    position: absolute;
    margin-top: 3%;
    background: url(sayhello.png);
    top: 200px;
    left: -10;
    width: 700;
    height: 150;
    background-size: cover;

}
#container{
    text-align: center;
}
#yellow{
    color: #b89b1d;
    font-size: 10;
    padding-top: 35;
}
#self{
    font-size: 13;
    padding-left: 150;
    padding-right: 140;
}
#button1{
    height: 35;
    width: 170;
    background-color: white;
    border-color: black;
    border:2px solid;
    font-family: arial;
    font-size: 9;
}
#mid{
    position: absolute;
    text-align: center;
    width: 700px;
    top: 400px;
}
.footer{
    clear: both;
    display: table;
    position: relative;
    top: 900px;
    color: white;
    background-color: black;
}
#headquarter{
    float: left;
}
#office{
    float:left;
}
.contact-info{
    float: left;
}
.footer-info{
    float: left;
}
.addr{
    position: relative;
}
